* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*HEADER*/
header {
    width: 100%;
}

.nav_header {
    height: 90px;
    background-color: #DF2A4C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_header h1 {
    font-size: 32px;
    margin-left: 8%;
}

.nav_title {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.nav_title b {
    color: #1D4B3B;
    font-weight: bolder;
}

.nav_header_a {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 12%;
}

.nav_header_a li {
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 5px;
}

.welcome {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logout_icon {
    width: 18px;
    height: 16.8px;
    margin-right: 160px;
}

.shopping_cart {
    width: 30px;
    height: 30px;
}

.nav_subheader {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav_subheader_a {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav_subheader_a li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.nav_subheader_a li a:hover {
    text-decoration: underline;
}

/*MAIN - Controle de Produtos*/
main {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 80%;
}

section#update, section#listProducts {
    width: 45%;
    height: 45%;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

section#update {
    margin-right: 20px;
}

section#listProducts {
    margin-top: 20px;
}

fieldset {
    border: 1px solid #DF2A4C;
    border-radius: 10px;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1D4B3B;
}

input[type="text"], input[type="number"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1D4B3B;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #DF2A4C;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #1D4B3B;
}

section#listProducts h3 {
    color: #DF2A4C;
    font-size: 22px;
    margin-bottom: 10px;
}

section#listProducts p {
    font-size: 18px;
    color: #1D4B3B;
}

section#listProducts a {
    text-decoration: none;
    color: #DF2A4C;
    font-weight: bold;
    margin-right: 10px;
}

section#listProducts a:hover {
    color: #1D4B3B;
}