* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*HEADER*/
header {
    width: 100%;
}

.nav_header {
    height: 90px;
    background-color: #DF2A4C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_header h1 {
    font-size: 32px;
    margin-left: 8%;
}

.nav_title {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.nav_title b {
    color: #1D4B3B;
    font-weight: bolder;
}

.nav_header_a {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 12%;
}

.nav_header_a li {
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 5px;
}

.welcome {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logout_icon {
    width: 18px;
    height: 16.8px;
    margin-right: 160px;
}

.shopping_cart {
    width: 30px;
    height: 30px;
}

.nav_subheader {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav_subheader_a {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav_subheader_a li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.nav_subheader_a li a:hover {
    text-decoration: underline;
}

/*BODY*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

fieldset {
    margin-top: 20px;
    background-color: #FFFFFF;
    max-width: 1074px;
    min-width: 860px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.supplier-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

fieldset p{
    color: #777777;
    padding: 10px;
    font-size: 32px;
}

fieldset input {
    color: #000000;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0px 0px 6px rgba(16, 48, 136, 0.5);
}

fieldset label {
    color: #777777;
    padding: 10px;
    font-size: 20px;
}


.supplier-bt {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.delete-btn {
    font-size: 20px;
    color: #DF2A4C;
    border: none;
    background-color: transparent;
    width: 100px;
}

.delete-btn:hover {
    background-color: #FF0000;
    color: #FFFFFF;
    border-radius: 5px;
    width: 100px;
}

.edit-btn {
    font-size: 20px;
    color: #1D4B3B;
    border: none;
    background-color: transparent;
    width: 100px;
}

.edit-btn:hover {
    background-color: #1D4B3B;
    color: #FFFFFF;
    border-radius: 5px;
    width: 100px;
}

.container-update {
    display: flex;
    justify-content: flex-end;
}

.update-btn {
    font-size: 20px;
    color: #103088;
    border: none;
    background-color: transparent;
    width: 100px;
}

.update-btn:hover {
    background-color: #103088;
    color: #FFFFFF;
    border-radius: 5px;
    width: 100px;
}

/*FOOTER*/
.nav_footer {
    position: fixed;
    top: 87%;
    width: 100%;
    justify-items: center;
    align-items: flex-end;
    display: flex;
    background-color: #1D4B3B;
    color: #FFFFFF;
    height: 120px;
    gap: 0px;
    text-align: center;
    display: flex;
    padding-right: 150px;
    padding-top: 25px;
}

.nav_footer p {
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: justify;
    color: #FFFFFF;
    padding: 45px;
    margin: 0px;
    margin-left: 90px;
    padding-top: 20px; 
    padding-left: 5px;
}

.nav_footer ul {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: center;
    list-style: none;  
    margin-left: 550px;
}

.nav_footer_div {
    width: 5px;
}
.nav_footer_div p {
    font-size: 25px;
    color: #ffffff;
    flex-direction: column !important;
    padding-right: 0px;
    padding-left: 0px;
    width: 5px;
    Height: 75px;
    margin-left: 45px;
}

.nav_footer li {
    color: #FFFFFF;
    padding: 10px;
    padding-left: 40px;
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.nav_footer a {
    font-size: 20px;
    margin-right: 0px;
    margin-left: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
    text-decoration: none;
    color: #FFFFFF;

}

.linkedin_icon {
    display: inline;
    width: 20px;
    height: 20px;
    top: 961px;
    left: 1071px;
    gap: 0px;
    opacity: 0px;  
}