* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*HEADER*/
header {
    width: 100%;
}

.nav_header {
    height: 90px;
    background-color: #DF2A4C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_header h1 {
    font-size: 32px;
    margin-left: 8%;
}

.nav_title {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.nav_title b {
    color: #1D4B3B;
    font-weight: bolder;
}

.nav_header_a {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 12%;
}

.nav_header_a li {
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 5px;
}

.welcome {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logout_icon {
    width: 18px;
    height: 16.8px;
    margin-right: 160px;
}

.shopping_cart {
    width: 30px;
    height: 30px;
}
.nav_subheader {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav_subheader_a {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav_subheader_a li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.nav_subheader_a li a:hover {
    text-decoration: underline;
}

/*BODY*/
main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    max-width: 1300px;
}

.left_container {
    flex: 2;
    margin-right: 30px;
}

.right_container {
    flex: 1;
    margin-left: 30px;
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8EBDE;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.left_container fieldset {
    margin-top: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: none;
    border-radius: 10px;
}

.left_container h3 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: bold;
}

.left_container h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #1D4B3B;
}

.left_container p {
    margin: 5px 0;
    font-size: 14px;
    color: #5F5F5F;
}

h2 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.right_container h3 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: bold;
}

.separator {
    margin: 20px 0; 
    border: none;
    height: 1px;
    background-color: #1D4B3B;
    width: 100%;
}

.right_container h4 {
    margin-top: 150px;
    font-size: 20px;
    font-weight: bold;
    color: #1D4B3B;
}

.right_container h3, .right_container h4 {
    text-align: end;
    width: 100%;
    margin: 10px 0;
    padding-right: 30px;
}

.right_container fieldset {
    width: 300px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border: none;
    border-radius: 10px;
}

input[type="submit"] {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    width: 276px;
    background-color: #FFFFFF;
    color: #1D4B3B;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(29, 75, 59, 0.7);
    cursor: pointer;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 6px rgba(29, 75, 59, 0.7);
    color: #FFFFFF;
    background: #1D4B3B;
}

/*FOOTER*/
.nav_footer {
    position: fixed;
    top: 87%;
    width: 100%;
    justify-items: center;
    align-items: flex-end;
    display: flex;
    background-color: #1D4B3B;
    color: #FFFFFF;
    height: 120px;
    gap: 0px;
    text-align: center;
    display: flex;
    padding-right: 150px;
    padding-top: 25px;
}

.nav_footer p {
    white-space: nowrap;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: justify;
    color: #FFFFFF;
    padding: 45px;
    margin: 0px;
    margin-left: 90px;
    padding-top: 20px; 
    padding-left: 5px;
}

.nav_footer ul {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: center;
    list-style: none;  
    margin-left: 550px;
}

.nav_footer_div {
    width: 5px;
}
.nav_footer_div p {
    font-size: 25px;
    color: #ffffff;
    padding-right: 0px;
    padding-left: 0px;
    width: 5px;
    Height: 75px;
    margin-left: 45px;
}

.nav_footer li {
    color: #FFFFFF;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.nav_footer a {
    font-size: 20px;
    margin-right: 0px;
    padding-left: 8px;
    text-decoration: none !important;
}


.linkedin_icon {
    display: inline;
    width: 20px;
    height: 20px;
    top: 961px;
    left: 1071px;
    gap: 50px;
    opacity: 0px;  
}